.btn {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font: 600 16px/1 var(--sans);
  letter-spacing: .1px;
  color: var(--button-primary-text);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: var(--button-primary-bg);
  border: 0.5px solid var(--button-primary-border);
  box-shadow: var(--shadow-button-primary);
}

.danger {
  background: var(--button-rec-bg);
  border-color: var(--button-rec-border);
  box-shadow: var(--shadow-button-rec);
}
